@model Easycase.Model.Case.BLAddEducationModal
<table id="educationHistory">
    <thead>
        <tr><th>Level</th><th>Field of Study	</th><th>Name of School/Institution	</th><th>Duration (yrs)	</th><th>Country</th></tr>
    </thead>
    <tbody>
        @if (Model.EducationHistory != null)
        {
            for (int i = 0; i < Model.EducationHistory.Level.Count(); i++)
            {
                <tr>
                    <td>
                        <select class="form-control data-education" id="education@(i)">
                            <option>Select</option>
                            <option value="Ph.D./ Doctoral Certificate">Ph.D./ Doctoral Certificate</option>
                            <option value="Post Graduate Certificate or Post Graduate Diploma">Post Graduate Certificate or Post Graduate Diploma</option>
                            <option value="Master or Professional Degree to Practice">Master or Professional Degree to Practice</option>
                            <option value="Bachelor's Degree">Bachelor's Degree</option>
                            <option value="Trade Certificate">Trade Certificate</option>
                            <option value="Associate Degree">Associate Degree</option>
                            <option value="Non-trades certificate or Diploma">Non-trades certificate or Diploma</option>
                            <option value="High School">High School</option>
                            <option value="Below High School">Below High School</option>
                        </select>
                    </td>
                    <td><input type="text" value="@(Model.EducationHistory.FieldOfStudy[i])" class="form-control data-field" /></td>
                    <td><input type="text" value="@(Model.EducationHistory.Institution[i])" class="form-control data-school" /></td>
                    <td>
                        <select class="form-control data-duration" id="duration@(i)">
                            <option value="">Select</option>
                            <option value="Less than 12 months">Less than 12 months</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10+">10+</option>
                        </select>
                    </td>
                    <td><input type="text" value="@(Model.EducationHistory.Country[i])" class="form-control data-country" /></td>
                    <td class="remove-control" style="width:20px">
                        @if (i == 0)
                        {
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-minus-circle" style="color:red" onclick="RemoveRow(this)" aria-hidden="true"></i>
                        }
                    </td>
                </tr>
                <script>
                $("#education@(i)").val('@(Model.EducationHistory.Level[i])');
                $("#duration@(i)").val('@(Model.EducationHistory.Duration[i])');
                </script>
            }
        }
        else
        {
            <tr>
                <td>
                    <select class="form-control data-education" id="education0">
                        <option>Select</option>
                        <option value="Ph.D./ Doctoral Certificate">Ph.D./ Doctoral Certificate</option>
                        <option value="Post Graduate Certificate or Post Graduate Diploma">Post Graduate Certificate or Post Graduate Diploma</option>
                        <option value="Master or Professional Degree to Practice">Master or Professional Degree to Practice</option>
                        <option value="Bachelor's Degree">Bachelor's Degree</option>
                        <option value="Trade Certificate">Trade Certificate</option>
                        <option value="Associate Degree">Associate Degree</option>
                        <option value="Non-trades certificate or Diploma">Non-trades certificate or Diploma</option>
                        <option value="High School">High School</option>
                        <option value="Below High School">Below High School</option>
                    </select>
                </td>
                <td><input type="text" value="" class="form-control data-field" /></td>
                <td><input type="text" value="" class="form-control data-school" /></td>
                <td>
                    <select class="form-control data-duration" id="duration0">
                        <option value="">Select</option>
                        <option value="Less than 12 months">Less than 12 months</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                    </select>
                </td>
                <td><input type="text" value="" class="form-control data-country" /></td>
                <td class="remove-control" style="width:20px">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <span onclick="AddRowEducation()" style="float:right; color:#0088cc;text-decoration:none; cursor:pointer"><i class="fa fa-plus-square" style="font-size:1.3em;"></i> Add another row for more information</span>
            </td>
        </tr>
    </tfoot>
</table>
